{% extends "base.html" %}

{% block content %}
        <div class="text-base uppercase font-medium text-blue-500">Публикация</div>
        <div class="mt-4">
            <h1 class="text-2xl font-bold">{{ post.title }}</h1>

            <div class="mt-1">
                Автор: <span class="font-semibold">{{post.author.username}}</span> {{post.creted_at}}
            </div>

            <p class="text-base text-zinc-500 mt-2">{{post.text}}</p>

        </div>

        <div>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'toggle_favorite' post.pk %}">
                    {% csrf_token %}

                    {% if user in post.favorites.all %}
                        <button type="submit">удалить из избранное</button>
                    {% else %}
                        <button type="submit">добавить в избранное</button>
                    {% endif %}
                </form>
            {% endif %}

            {% if user == post.author %}
                <div>
                    <a href="{% url 'post_update' post.pk%}">редактировать</a>
                    <a href="{% url 'post_delete' post.pk%}">удалить</a>
                </div>        
            {%endif%}
        </div>

        <div class="mt-4">
            <h2 class="text-lg font-semibold">Комментарии</h2>

            {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <label for="">комментарий</label>
                    <textarea name="text" id="comment-text" required>{{comment_text}}</textarea>

                    {% if comment_error %}
                        <p class="text-red-500 text-sm mt-1">{{comment_error}}</p>
                    {%endif%}
                </form>
            {%else%}
            <div class="text-sm bg-whity rounded-lg py-2 px-4 my-2 bg-white">
                <a href="" class="text-blue-500 hover:underline">Войдите</a>, что бы оставлять комментарии
            </div>
            {%endif%}

            <div class="mt-4 flex flex-col gap-3">
                {% for comment in post.comments.all %}
                     <div>
                <p class="text-sm text-zinc-800">
                    <span class="font-semibold text-black">{{comment.author.username}}</span>
                    {{comment.author.created_at}}
                </p>
                <p class="text-xs mt-0.5">{{comment.text}}</p>
            </div>
                {%endfor%}
            </div>
           
        </div>

{% endblock %}